<app-header [showButtonBack]="'/'" title="Joanne Peterson"></app-header>

<ion-content class="ion-padding bg" cdkDropListGroup>
  <ion-grid>
    <div cdkDropList class="example-list" [cdkDropListData]="frases" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let frase of frases" cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        {{ frase }}
      </div>
    </div>

    <ion-row>
      <ion-col>
        <p>Com base nos depoimentos e as informações que tenho, preciso chegar em uma
          conclusão utilizando minha lógica:</p>
        <h3 style="text-align: center;"><b>(P->Q)^(Q->R)=>(P->R)</b></h3>
      </ion-col>
    </ion-row>

    <!-- TODO: ser um campo só ao invés de uma droplist -->
    <div cdkDropList class="example-list" style="margin-top: 10px;" [cdkDropListData]="resultados"
      (cdkDropListDropped)="drop($event, 0)">
      <div class="example-box" cdkDrag>
        {{ resultados[0] || '' }}
      </div>
    </div>
    <p>e</p>
    <div cdkDropList class="example-list" style="margin-top: 10px;" [cdkDropListData]="resultados"
      (cdkDropListDropped)="drop($event, 1)">
      <div class="example-box" cdkDrag>
        {{ resultados[1] || '' }}
      </div>
    </div>
    <p>logo: </p>
    <p
      *ngIf="resultados.length >= 2 && (resultados[0] !== 'Se uma porta não foi arrombada, então ela foi aberta por uma chave' || resultados[1] !== 'Se uma porta foi aberta por uma chave, então o ladrão possuía uma chave')">
      Isso não parece certo... Preciso analizar melhor.</p>
    <p
      *ngIf="resultados.length >= 2 && resultados[0] === 'Se uma porta não foi arrombada, então ela foi aberta por uma chave' && resultados[1] === 'Se uma porta foi aberta por uma chave, então o ladrão possuía uma chave'">
      <b>Se a porta não foi arrombada, então o ladrão possuía uma chave.</b></p>
  </ion-grid>

  <ion-grid
    *ngIf="resultados.length >= 2 && resultados[0] === 'Se uma porta não foi arrombada, então ela foi aberta por uma chave' && resultados[1] === 'Se uma porta foi aberta por uma chave, então o ladrão possuía uma chave'">
    <h3 style="text-align: center;"><b>(P->Q)^(Q->R)=>(P->R)</b></h3>
    <br>
    <div cdkDropList class="example-list" style="margin-top: 10px;" [cdkDropListData]="resultados"
      (cdkDropListDropped)="drop($event, 2)">
      <div class="example-box" cdkDrag>
        {{ resultados[2] || '' }}
      </div>
    </div>
    <p>e a porta não foi arrombada,</p>
    <p>logo: </p>
    <p *ngIf="resultados.length >= 3 && resultados[2] !== 'A atendente não possuía chaves do depósito'">
      Isso não parece certo... Preciso analizar melhor.</p>
    <div style="text-align: center;"
      *ngIf="resultados.length >= 3 && resultados[2] === 'A atendente não possuía chaves do depósito'">
      <p><b>Joanne Peterson não é o ladrão.</b></p>
      <br>
      <button class="btn btn-logica" primary ion-button (click)="avancar()">
        Avançar
      </button>
    </div>
  </ion-grid>
</ion-content>